# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\DATS2300 - Algoritmer og Datastrukturer\AlgDat2021\Forelesninger\Uke34\24.08\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
